<template>
<!--    <li class="nav-item dropdown">-->
<!--        <a href="#" role="button" id="navbarDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            <i class="fas fa-bell"><span>Notificação</span></i>-->
<!--            <span class="badge badge-danger" id="count-notification">-->
<!--                {{ notifications.lenght }} <span class="caret"></span>-->
<!--            </span>-->
<!--            <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                <a href="#" class="dropdown-item" v-for="notification in notifications">-->
<!--                    {{ notification.data }}-->
<!--                </a>-->
<!--                <a href="#" class="dropdown-item" v-if="notifications.length==0">-->
<!--                    Nenhuma notificação-->
<!--                </a>-->
<!--            </div>-->
<!--        </a>-->
<!--    </li>-->







<!--    <li class="nav-item dropdown dropdown-notifications">-->
<!--        <a href="#notifications-panel" class="nav-link dropdown-toggle" data-toggle="dropdown">-->
<!--            Notificações <span class="badge badge-darker" id="count-notification">-->
<!--                            {{ notifications.length }} <span class="caret"></span>-->
<!--                        </span>-->
<!--        </a>-->

<!--        <ul class="dropdown-menu" >-->
<!--            <li v-for="notification in notifications">-->
<!--                <div class="notification">-->
<!--                    <div class="media">-->
<!--                        <div class="media-left">-->
<!--                            <div class="media-object">-->
<!--                                <img src="https://api.adorable.io/avatars/71/`+ avatar + `.png" class="img-circle" alt="50x50" style="width: 50px; height: 50px;">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="media-body">-->
<!--                            <strong class="notification-title">{{ notification.data.user.name }} {{notification.data.message}}</strong>-->
<!--                            <div class="notification-meta">-->
<!--                                <small class="timestamp"></small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <span style="text-align: center">Marcar todos como lidos</span>-->
<!--        </ul>-->
<!--    </li>-->




    <li class="nav-item dropdown nav-notif">
        <a class="nav-link nav-link-faded nav-icon has-badge dropdown-toggle no-caret" href="#" data-toggle="dropdown" data-display="static" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
            <span class="badge badge-pill badge-danger">{{ notifications.length }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right p-0">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell mr-2"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>{{ notifications.length }} notificações!
                </div>
                <div class="card-body p-0 pt-1">
                    <div class="list-group list-group-sm list-group-flush">
                        <div v-for="notification in notifications">
                            <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
<!--                                            <span class="bg-info text-white btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg></span>-->
                                            <img src="https://api.adorable.io/avatars/71/`+ avatar + `.png" class="bg-info text-white btn-icon rounded-circle img-circle" alt="50x50" style="width: 50px; height: 50px;">
                                        </div>
                                    </div>
<!--                                    <span class="bg-info text-white btn-icon rounded-circle"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg></span>-->
                                    <div class="media-body ml-2">
                                        <p class="mb-0">{{ notification.data.user.name }} {{notification.data.message}}</p>
                                        <small>
                                            <i class="fas fa-clock-o"></i>5 minutes ago
                                        </small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-footer justify-content-center">
                    <a href="javascript:void(0)">Ver todos os agendamentos ›</a>
                </div>
            </div>
        </div>
    </li>


</template>
<script>
    export default {
        props: ['notifications']
    }
</script>
